.logo {
    height: 128px;
    margin: 16px;
}

.collapsed-menu span {
    padding-left: 6px;
}

.collapsed-menu .ant-menu-title-content {
    visibility: hidden;
}
.collapsed-menu .ant-menu-submenu-arrow {
    visibility: hidden;
}

.ant-menu-item-icon .menu-icon {
    font-size: 14px !important;
}

.collapsed-menu-icon {
    font-size: 16px !important;
}